<footer class="footer">
  <div class="container">
    <span class="align-middle">
      <a href="https://github.com/cwy007/B2CStore" target="_blank" class="lead text-muted">
        <%= fa_icon "github-square", text: "源码" %>
      </a>
    </span>
  </div>
</footer>
