production:
  ALIPAY_PID: 'YOUR-ALIPAY-PARTNER-ID'
  ALIPAY_MD5_SECRET: 'YOUR-ALIPAY-MD5-SECRET'
  ALIPAY_URL: 'https://mapi.alipay.com/gateway.do'
  ALIPAY_RETURN_URL: 'http://localhost:3000/payments/pay_return'
  ALIPAY_NOTIFY_URL: 'http://localhost:3000/payments/pay_notify'
  SMS_API_KEY: 'xxx'
  qiniu_access_key: xxx
  qiniu_secret_key: xxx-V
  qiniu_bucket: konata
  qiniu_bucket_domain: qiniu-konata.chenweiyan.site
  SECRET_KEY_BASE: "xxx"

development:
  ALIPAY_PID: 'YOUR-ALIPAY-PARTNER-ID'
  ALIPAY_MD5_SECRET: 'YOUR-ALIPAY-MD5-SECRET'
  ALIPAY_URL: 'https://mapi.alipay.com/gateway.do'
  ALIPAY_RETURN_URL: 'http://localhost:3000/payments/pay_return'
  ALIPAY_NOTIFY_URL: 'http://localhost:3000/payments/pay_notify'
  SMS_API_KEY: 'xxx'
  qiniu_access_key: xxx
  qiniu_secret_key: xxx-V
  qiniu_bucket: konata
  qiniu_bucket_domain: qiniu-konata.chenweiyan.site
